$panel-base-color: $neutral-light-color !default;
$panel-header-font-size: 16px !default;
$panel-header-line-height: 20px !default;
$panel-header-background-color: $neutral-light-color !default;
$panel-border-color: $neutral-medium-light-color !default;
